<%= render "shared/navbar" %>

<h1>My Profile</h1>

<div class="container-page">
  <div class="container-profile">

    <div class="books-button">

      <h3>My Listed Books</h3>
      <div class="books-profile">
          <%# <% @user.books.each do |book| %>
              <%# <div class="card-book"> %>
                <%# <%= cl_image_tag book.photo.key, %>
                  <%# width: 200, height: 300, crop: :fill %> 
                <%# <div class="card-book-infos"> %>
                  <%# <h3> <%= book.title </h3> %>
                <%# </div> %>
              <%# </div> %>
          <%# <% end %>
          <% @user.books.each do |book| %>
            <div class="card-book-profile">
              <%= cl_image_tag book.photo.key, height: 450, width: 300, crop: :fill %>
              <div class="card-book-infos">
                <h2><%= book.title %></h2> 

              </div>
            </div>
          <% end %>
        </div>
      <%= render  "books/button_new", book: @book %>
    </div>


    <div class="profile">
      <%= cl_image_tag @user.photo.key,
          crop: :fill, class: "avatar" %>

      <div class="profile-info">
        <h5><%= "#{@user.first_name} #{@user.last_name}" %></h5>
        <p><%= @user.about %></p>
      </div>

    </div>

  </div>
  <div class="rentals">
    <%= render "books/bookings" %>
  </div>
</div>
