<%# <% @books.each do |book| %> 
<%# <li><%=link_to book.title, book_path(book)</li> %>
<%# <% end %> 
<%# <div class="index-card">
  <img src="./app/assets/images/book_cover" alt="Book Cover" style="width:100">
    <div class="container">
      <h4><strong>Title</strong></h4>
    </div>
</div> %>
<% @books.each do |book| %>
  <div class="card-book">
<%= cl_image_tag book.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-book-infos">
        <h2><%= book.title %></h2>
      <div class="card-bottom">
        <p><%= book.author %></p>
        <p class="card-book-pricing"><%= number_to_currency(book.price_per_day, unit: "£") %></p>
      </div>
    </div>
  </div>
  
<% end %>

