<h1>New book</h1>
<%= simple_form_for [@book] do |f| %>
  <%= f.input :title %>
  <%= f.input :blurb %>
  <%= f.input :author %>
  <%= f.input :genre %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>
  <%= f.submit "Add a Book", class: "btn btn-primary" %>
<% end %>
